* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100vh;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #171717 !important;
    color: white !important;
}

.loader {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 4s;
    animation-fill-mode: forwards;
}

.mandy-logo {
    width: 150px;
    height: 150px;
    animation: zoomInOut 2s linear forwards;
}


/* Navbar Portion */

.nav_brand {
    width: 70px;
    height: 60px;
}

#mainNav {
    color: white;
}

#mainNav .nav-link {
    margin: 0px 20px;
    color: white;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: none !important;
    border-radius: none !important;
    transition: box-shadow .15s ease-in-out;
}

.toggle-btn {
    color: white;
}

/* Hover Portion Starts */

#mainNav .nav-link, #mainNav .nav-link:after, #mainNav .nav-link:before {
  transition: all .5s;
}


#mainNav .nav-link {
  position: relative;
  font-size: 14px;
}

#mainNav .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}

#mainNav .nav-link:hover:after {
  width: 100%;
}
/* Hover Portion Ends */

/* Navbar portion ends */

.body-cont {
    z-index: 9;
}

section {
    width: 100%;
}

.sec-top {
    padding-top: 65px;
}

.manthan-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* All headings */

.child {
    position: absolute;
    top: 0;
}

.parent {
    position: relative;
}

.back-text {
    opacity: 0.05;
    font-size: 50px;
    font-weight: 700;
}

/*  All headings end */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    height: 100%;
}

.card-body {
    background-color: #171717;
}

.work-photos img {
    height: 300px;
    width: 250px;
    padding-top: 20px;
}

@keyframes fadeOut {
    50% {
        opacity: 1;
        visibility: visible;
    }
    75% {
        opacity: 0.9;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1,1);
    }
    25% {
        transform: scale(1.5,1.5);
    }
    50% {
        transform: scale(2,2);
    }
    75% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

@media (max-width:500px) {
    .nav_brand {
        width: 50px;
        height: 40px;
    }

    .manthan {
        font-size: 30px;
        text-align: center;
    }

    .manthan-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .abt-pt {
        position: relative;
        align-items: center;
    }

}

/* .wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
}

.card {
	width: 320px;
	height: 350px;
	margin: 1em;
	perspective: 1500px;
	
}

.card.content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
} */


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "montserrat";
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    cursor: pointer;
    width: 250px;
    height: 320px;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: tranform 3s linear;
}

.front .front-content {
    background-color: black;
    color: white;
    height: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: white;
    color: black;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: black;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.card:hover {
    color: white;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}